input.credit-card
	background url('../img/cc_test.png') no-repeat scroll 7px 7px
	padding: 7px
	padding-left 37px
	border 1px solid #ccc
	&.amex
		background url('../img/cc_amex.gif') no-repeat scroll 7px 7px
	&.visa
		background url('../img/cc_visa.gif') no-repeat scroll 7px 7px
	&.mastercard
		background url('../img/cc_mastercard.gif') no-repeat scroll 7px 7px